/mini_shop/static/
/.idea/vcs.xml
/.idea/djangoProject.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_01_08_2022_14_55_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_01_08_2022_14_55__Changes_.xml
